<div class="test">
    <div class="p-1 p-md-3">
    <div class="col-12 col-md-8 col-lg-5 p-2  user-widget-card">
        <div class="row">
                <div class="col-4">
                    <img [src]="userImage" class="user-image" alt="image not found">
                </div>  
                <div class="col-7 p-0">
                  <div class="user-name">{{name}}</div>
                  <div class="user-email">{{email}}</div>
                  <div class="user-active"><div class="active-dot float-left"></div> {{active}}</div>

                </div>  
                <div class="col-1 p-0">
                    <img [src]="threeDot" alt="">
                </div>
        </div>
    </div>
</div>
</div>